@model OrderViewModel


<form class="row g-3">
    <div class="col-md-6">
        <label for="inputname" class="form-label">Имя</label>
        <input type="text" asp-for="@Model.FirstName" class="form-control" placeholder="Иван" id="inputname">
    </div>
    <div class="col-md-6">
        <label for="inputlastname" class="form-label">Фамилия</label>
        <input type="text" asp-for="@Model.LastName" placeholder="Иванов" class="form-control" id="inputlastname">
    </div>
    <div class="col-md-6">
        <label for="inputEmail" class="form-label">Эл. почта</label>
        <input type="email" placeholder="ivanov@example.com" asp-for="@Model.Email" class="form-control"
            id="inputEmail">
    </div>
    <div class="col-md-6">
        <label for="inputNumber" class="form-label">Номер телефона</label>
        <input type="tel" asp-for="@Model.PhoneNumber" placeholder="80297846598" class="form-control" id="inputNumber">
    </div>
    <div class="col-md-4">
        <label for="inputCity" class="form-label">Город</label>
        <input type="text" asp-for="@Model.City" placeholder="Минск" class="form-control" id="inputCity">
    </div>
    <div class="col-md-4">
        <label for="inputState" class="form-label">Область</label>
        <select id="inputState" class="form-select" asp-for="@Model.Region" asp-items="@Model.Regions">
        </select>
    </div>
    <div class="col-md-4">
        <label for="inputZip" class="form-label">Почтовый индекс</label>
        <input type="text" class="form-control" id="inputZip">
    </div>
    <div class="col-12">
        <label for="inputAddress" class="form-label">Адрес</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="ул. Советская, д. 1, к.3, кв. 34">
    </div>
    <div class="col-6">
        <label for="inputPayment" class="form-label">Оплата</label>
        <select id="inputPayment" class="form-select" asp-items="@Model.PaymentTypes" asp-for="@Model.PaymentType">
        </select>
    </div>
    <div class="col-6">
        <label for="inputDelivery" class="form-label">Доставка</label>
        <select id="inputDelivery" class="form-select" asp-items="@Model.DeliveryTypes" asp-for="@Model.DeliveryType">
        </select>
    </div>
    <div class="col-12">
        <label for="inputAddress2" class="form-label">Комментарии к
            заказу</label>
        <textarea class="form-control" asp-for="@Model.OrderComment" id="form6Example7" rows="4"></textarea>
    </div>

    <div class="col-12">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
                Check me out
            </label>
        </div>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
</form>