@model BasketItemViewModel

<div class="card rounded-3 mb-4">
    <div class="card-body p-4">
        <div class="row d-flex justify-content-between align-items-center">
            <div class="col-md-2 col-lg-2 col-xl-2">
                <img src="~/img/books/@Model.PictureUrl" class="img-fluid rounded-3">
            </div>
            <div class="col-md-3 col-lg-3 col-xl-3">
                <p class="lead fw-normal mb-2">@Model.ProductName</p>
                @* <p><span class="text-muted">Автор: </span> <span class="text-muted">Color: </span>Grey</p> *@
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 d-flex">

                <div class="row-1 mx-4">
                    <a asp-controller="Basket" asp-action="ChangeQuantity" asp-route-itemId="@Model.Id"
                        asp-route-mode="add">
                        <i class="fas fa-plus"></i>
                    </a>
                    <div class="mx-1 my-2">
                        @Model.Quantity
                    </div>
                    <a asp-controller="Basket" asp-action="ChangeQuantity" asp-route-itemId="@Model.Id"
                        asp-route-mode="sub">
                        <i class="fas fa-minus"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                @if (Model.Discount > 0)
                {
                    <small class="fw-bold" style="text-decoration: line-through;">@Model.FullPrice</small>
                    <small class="fw-bold">@Model.DiscountedPrice руб.</small>
                }
                else
                {
                    <small class="fw-bold">@Model.FullPrice руб.</small>
                }
            </div>
            <div class="col-md-1 col-lg-1 col-xl-1 text-end mx-4">
                <a asp-controller="Basket" asp-action="Remove" asp-route-id="@Model.Id" class="text-danger"><i
                        class="fas fa-trash fa-lg"></i></a>
            </div>
        </div>
    </div>
</div>