@model CatalogViewModel

<div class="container py-5">
    <div class="row">
        <div class="col-lg-3">
            <partial name="_CatalogFilterPartial" model="@Model.FilterInfo" />
        </div>
        <div class="col-lg-9">
            @if (Model.FilterInfo!.SearchQuery != null)
            {
                <h2 class="mb-4" >Результаты запроса: "@Model.FilterInfo.SearchQuery"</h2>
            }
            @* <div class="row">
                <div class="col-md-6">
                    <ul class="list-inline shop-top-menu pb-3 pt-1">
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none mr-3" href="#">Все</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none mr-3" href="#">На скидке</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none" href="#">Бестселлеры</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none" href="#">Классика</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 pb-4">
                    <div class="d-flex">
                        <select class="form-control">
                            <option>Популярные</option>
                            <option>Дешевые</option>
                            <option>Дорогие</option>
                            <option>По алфавиту</option>
                        </select>
                    </div>
                </div>
            </div>*@
        @if (Model.CatalogItems.Count != 0 && Model.FilterInfo.SearchQuery == "")
        {
            <div class="mx-4 mb-4">
                <partial name="_PaginationPartial" model="@Model.PaginationInfo" />
            </div>
        }
            @* Prod cards *@
            <div class="row" id="list">
                <partial name="_CatalogListPartial" model="@Model" />
            </div>

            @* Prod cards *@

        @if (Model.CatalogItems.Count != 0 && Model.FilterInfo.SearchQuery == "")
        {
            <div class="mx-4">
                <partial name="_PaginationPartial" model="@Model.PaginationInfo" />
            </div>
        }
</div>
    </div>
</div>

<partial name="_PublishersPartial" />
<!-- End Content -->

@section Scripts
{
  <script>
    function updateFavourite(itemId)
    {
      var divId = `#product-${itemId}`;
        console.log("Sending book id " + itemId);
      $.ajax(
      {
        url: "Catalog/UpdateFav",
        type: "get",
        data:
        {
          itemId:itemId,
        },
        statusCode: {
            200: function (data, textStatus, jqXHR)
            {
                console.log(textStatus + ": " + jqXHR.status);
                console.log("Item id " + itemId + "; isFavourite: " + data.isFavourite);
                console.log("Updating catalog card id " + itemId);
                if(data.isFavourite == true)
                {
                    $("#favIcon-" + itemId).find('i').removeClass('fa-regular fa-heart');
                    $("#favIcon-" + itemId).find('i').addClass('fa-solid fa-heart');          }
                else
                {
                    $("#favIcon-" + itemId).find('i').removeClass('fa-solid fa-heart');
                    $("#favIcon-" + itemId).find('i').addClass('fa-regular fa-heart');
                }
            },
            401: function(data, textStatus, jqXHR){
                window.location.href = "http://localhost:5092/Identity/Account/Login?ReturnUrl=%2FHome%2FIndex";
            },
        },
      });
    }
    </script>
}